<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Campground List</h1>
    <ul>
        <% for(let campground of campgrounds) { %> <!-- Corrected spacing here -->
            <li><%= campground.title %></li>  <!-- Corrected spacing here -->
        <% } %>
    </ul>
</body>
</html>
