<% layout ('layouts/boilerplate') %>

    <h1>All Campground List</h1>
    <ul>
        <% for(let campground of campgrounds) { %> <!-- Corrected spacing here -->
            <li><a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a></li>  <!-- Corrected spacing here -->
        <% } %>
    </ul>
    <footer>
        <a href="/campgrounds/new">Add new CG</a>
    </footer>

