<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Add new campgrounds</h1>

   <!-- creating the form to add -->
    <form action="/campgrounds" method="post">
        <!-- form layout -->
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="campground[title]">
            <label for="Location">Location</label>
            <input type="text" id="Location" name="campground[location]">
            <button>Add New</button>
            <a href="/campgrounds">Back</a>
        </div>

    </form>
</body>
</html>