<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <li><%= campground.title %></li>
    <li><%= campground.location %></li>

    <footer>
        <a href="/campgrounds">all campgrounds</a>
        <a href="/campgrounds/<%=campground._id%>/edit">Edit campground</a>

    </footer>
</body>
</html>